*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
}
main {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  color: hsl(229, 31%, 21%);
  font-weight: 600;
}
h1 {
  font-size: 1.9rem;
  font-weight: 600;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  max-width: 19rem;
  color: hsl(229, 8%, 60%);
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
image {
  display: block;
}
img {
  display: block;
}

/*
============
Header
============
*/
header {
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 1px 10px 0px rgb(128 124 175 / 20%);
  z-index: 50;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto;
}
.header-logo {
  background-image: url(./images/logo-bookmark.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
}
/* lock scroll on open navigation menu */
.lock-scroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
/* active navigation menu header style */
.lock-scroll .header-logo {
  background-image: url(./images/logo-bookmark-white.svg);
}
.lock-scroll header {
  background-color: hsl(226deg 45% 17% / 93%);
}
.lock-scroll .close-nav-img {
  display: block;
}
.lock-scroll .open-nav-img {
  display: none;
}
.navigation-menu-toggle {
  z-index: 55;
}
.close-nav-img {
  display: none;
}
/* navigation menu */
.nav-menu {
  display: flex;
}
.nav-menu-list-container {
  display: none;
  padding: 2rem;
}
/* active navigation menu */
.show .nav-menu-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(226deg 45% 17% / 93%);
  color: white;
  z-index: 50;
  height: 100vh;
}
.nav-menu-list li {
  border-top: 1px solid #9194a1;
  width: 100%;
  text-align: center;
}
.nav-menu-list li a {
  padding: 1rem 0;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* nav menu login btn */
.nav-menu-list li:last-child a {
  border: 2px solid white;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 0.5rem 0;
}
.nav-menu-social-links-container ul {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 4rem;
  position: relative;
}

/*
===========
Hero
===========
*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}
.hero-img-container {
  margin-top: 2rem;
  position: relative;
  margin-bottom: 4.5rem;
  width: 100%;
}
.hero-img-container::after {
  content: "";
  position: absolute;
  width: 88%;
  left: 41%;
  background-color: hsl(231, 69%, 60%);
  z-index: 1;
  top: 24%;
  height: 84%;
  border-radius: 170px 0 0 170px;
}
.hero-img-container img,
.feature-tab-image-container img {
  display: block;
  position: relative;
  z-index: 5;
  width: 100%;
  /* max-width: 90%; */
  max-width: 24rem;
  max-height: 22rem;
  margin: 0 auto;
}
.hero-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.hero-buttons-container button {
  box-shadow: 0 3px 10px 0 rgba(128, 124, 175, 0.2);
  padding: 1rem;
  border-radius: 5px;
  font-weight: 600;
}
.hero-buttons-container button:first-child {
  box-shadow: 0 5px 10px -5px #5368df;
}
.hero-buttons-container button:last-child {
  background-color: rgb(250, 250, 250);
  color: hsl(240, 1%, 37%);
}
.hero-buttons-container button:first-child {
  background-color: hsl(231, 69%, 60%);
  color: white;
}

/* global styles */
article,
.hero-text-container,
.features,
.features-top-text,
.features-tab-header,
.features-tab-text,
.feature-tab-text-container,
.download,
.download-top-text,
.faq,
.faq-top-text,
.questions-container,
.form,
.form-container,
.footer-top,
.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  margin: 0 auto;
}
.features,
.download,
.faq {
  margin-bottom: 8rem;
}
/* global more info button */
.questions-container > button,
article button {
  box-shadow: 0 5px 10px -5px #5368df;
  padding: 1rem;
  border-radius: 5px;
  font-weight: 500;
  background-color: hsl(231, 69%, 60%);
  color: white;
}

/*
================
Features section
==================
*/
.features {
  gap: 2rem;
}
.feature-tab-image-container {
  position: relative;
  margin-bottom: 5rem;
  width: 100%;
  padding: 0 1rem;
}
.features-tab-text {
  position: relative;
}
.features-tab-text::after {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: hsl(231, 69%, 60%);
  border-radius: 0 170px 170px 0;
  height: 38%;
  width: 89%;
  right: 42%;
  bottom: 45%;
}
.features-tab-text {
  gap: 2rem;
}
.features-tab-container {
  width: 100%;
}
.features-tab-header {
  margin-bottom: 4rem;
}
.features-tab-header ul {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}
.features-tab-header ul li {
  border-bottom: 1px solid hsl(240, 1%, 83%);
  width: 100%;
}
.features-tab-header ul li button {
  color: hsl(229, 8%, 60%);
  padding: 1rem;
}
.features-tab-header ul li:last-child {
  border-bottom: 1px solid hsl(240, 1%, 83%);
}
/* active tab name */
.features-tab-header ul li button {
  border-bottom: 3.5px solid transparent;
}
.features-tab-header ul li button.active-tab {
  display: block;
  color: hsl(229, 31%, 21%);
  border-bottom: 3.5px solid rgb(255, 78, 13);
  height: 100%;
  padding: 1rem;
  margin: 0 auto;
}
/* active tab article */
.features-tab-text article {
  display: none;
  width: 100%;
  gap: 2rem;
}
.features-tab-text article.active-tab {
  display: flex;
}

/*
=====================
Download section
=====================
*/
.download-browser-cards-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* transition: all 250ms ease; */
}
.browser-card {
  box-shadow: 3px 8px 10px 0 rgb(172 166 235 / 20%);
  padding: 2rem 1.5rem;
  min-width: 17rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: url(./images/bg-dots.svg) repeat-x center bottom 100px;
}
.browser-card img {
  max-width: 5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.browser-card p {
  padding-bottom: 2rem;
}
.browser-card button {
  box-shadow: 0 2px 10px 0 rgba(128, 124, 175, 0.2);
  padding: 1rem;
  border-radius: 5px;
  font-weight: 500;
  background-color: hsl(231, 69%, 60%);
  color: white;
  letter-spacing: 1px;
  margin-top: 1.5rem;
}

/*
===========
FAQ
===========
*/
.faq {
  gap: 2.5rem;
}
.questions-container {
  padding: 0 1rem;
  width: 100%;
  max-width: 25rem;
  gap: 2rem;
}
.question {
  border-bottom: 1px solid rgb(214, 214, 214);
  text-align: left;
  width: 100%;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
.question-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-bottom: 1rem;
}
.question-answer {
  display: none;
  padding-bottom: 1rem;
}
.question-answer p {
  text-align: left;
  max-width: none;
}
.question.active .question-answer {
  display: block;
}
/* question arrow */
.arrow {
  transition: transform 150ms ease;
  display: flex;
  align-items: center;
}
.question.active .arrow {
  transform: rotate(-180deg);
}
.question.active .arrow img {
  filter: hue-rotate(119deg) brightness(1.5);
}

/*
============
Form
============
*/
form {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  margin-top: 1rem;
}
.form-container {
  background-color: hsl(231, 69%, 60%);
  padding: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.form-top-text {
  color: white;
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}
.form-container h2 {
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}
input {
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 5px;
  border: 2px solid transparent;
}
form button {
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 25%);
  padding: 1rem;
  border-radius: 5px;
  font-weight: 500;
  background-color: hsl(0, 94%, 66%);
  color: white;
  width: 100%;
  margin-top: 1.3rem;
}
.form-error-text {
  display: none;
  background-color: hsl(0, 94%, 66%);
  color: white;
  text-align: left;
  padding: 0.5rem 1rem;
  border-radius: 0 0 7px 7px;
}
.error-input .form-error-text {
  display: block;
}

/*
===========
Footer
===========
*/
.footer-top {
  background-color: hsl(229, 31%, 21%);
  color: white;
  padding: 2rem;
  gap: 2rem;
}
.footer-menu-container ul li {
  color: hsl(240, 1%, 75%);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer-menu-container ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.social-links-container ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*
===========
Hover
===========
*/
@media (hover) {
  /* nav hover */
  .nav-menu-list a:hover {
    background-color: rgba(247, 247, 247, 0.212);
  }
  .nav-menu-list .login-btn:hover {
    background-color: hsl(0deg 74% 59%);
  }
  /* blue btn hover */
  .questions-container > button:hover,
  article button:hover,
  .hero-buttons-container button:first-child:hover,
  .browser-card button:hover {
    background-color: hsl(231, 69%, 68%);
  }
  /* white hero btn hover */
  .hero-buttons-container button:last-child:hover {
    background-color: hsl(0, 0%, 99%);
    color: hsl(240, 1%, 45%);
  }
  /* features tab menu hover */
  .features-tab-header button:hover {
    color: hsl(19, 100%, 51%);
  }
  /* form submit hover */
  form button:hover {
    background-color: hsl(0, 94%, 70%);
  }
  /* faq hover */
  .question-title:hover h4 {
    color: hsl(19, 100%, 51%);
  }
  /* footer hover */
  .footer-top a:hover {
    color: hsl(4, 87%, 64%);
  }
  .nav-menu-social-links-container a:hover path,
  .footer-top a:hover path {
    fill: hsl(4, 87%, 64%);
  }
  /* desktop size nav hover */
  @media (min-width: 768px) {
    .nav-menu-list li a:hover {
      color: hsl(4, 87%, 64%);
    }
    .nav-menu-list .login-btn:hover {
      background-color: hsl(0deg 74% 59%);
      color: white;
    }
  }
}

/* Tablet / Desktop style */
@media (min-width: 768px) {
  p {
    max-width: 27rem;
  }

  /* header */
  .header-logo {
    height: 32px;
  }
  header {
    padding-bottom: 0.6rem;
  }
  .navigation-menu-toggle {
    display: none;
  }
  .nav-menu-list-container {
    display: flex;
    padding: 0;
  }
  .nav-menu-list-container ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .nav-menu-list li {
    border-top: none;
  }
  .nav-menu-list li a {
    padding: 0.4rem 0;
    font-size: 0.9rem;
  }
  .nav-menu-list li:last-child a {
    border: 2px solid hsl(4, 87%, 64%);
    margin-top: 0;
    border-radius: 5px;
    padding: 0.4rem 1.4rem;
  }
  .nav-menu-social-links-container {
    display: none;
  }

  /* body */
  .hero {
    flex-direction: row-reverse;
    gap: 1rem;
    padding-left: 3rem;
    margin-bottom: 2rem;
    max-width: 60rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .hero-text-container {
    text-align: left;
    align-items: start;
    margin: 0;
    margin-left: auto;
    margin-bottom: 2rem;
  }
  .hero-img-container {
    width: 50%;
  }
  .hero-img-container::after {
    left: 22%;
    right: auto;
    width: 60vw;
  }

  /* features desktop */
  .features {
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 8rem;
  }
  .features-tab-header {
    max-width: 45rem;
    position: relative;
  }
  .features-tab-header ul {
    flex-direction: row;
  }
  article {
    flex-direction: row;
  }
  .feature-tab-image-container {
    width: 50%;
    margin-bottom: 0;
  }
  .feature-tab-text-container {
    align-items: start;
    text-align: start;
    width: 24rem;
    padding: 0;
  }
  .features-tab-text::after {
    content: "";
    position: absolute;
    background-color: hsl(231, 69%, 60%);
    z-index: 1;
    border-radius: 0 170px 170px 0;
    width: 60vw;
    height: 241px;
    left: auto;
    bottom: auto;
    right: 61%;
    top: 33%;
  }
  /* article.bookmark-tab { */
  /* margin: 0 auto */
  /* } */
  article {
    padding: 0 2rem;
  }
  .feature-tab-image-container img {
    margin: 0;
    margin-left: auto;
    max-height: 19rem;
  }
  /* .hero-img-container img, */
  /* .feature-tab-image-container img { */
  /* max-width: 90%; */
  /* } */
  .hero-img-container img {
    max-width: 31rem;
  }

  /* download section desktop */
  .download-browser-cards-container {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 2.5rem;
    gap: 1rem;
  }
  .browser-card:nth-child(2) {
    margin-top: 3rem;
  }
  .browser-card:nth-child(3) {
    margin-top: 6rem;
  }
  .browser-card {
    min-width: 11rem;
    padding: 1rem 0.4rem;
  }
  /* XL+ spacing */
  @media (min-width: 950px) {
    .download-browser-cards-container {
      gap: 3rem;
    }
    .browser-card {
      min-width: 17rem;
      padding: 1rem;
    }
  }

  /* questions section desktop */
  .faq-top-text p {
    max-width: 28rem;
  }
  .questions-container {
    max-width: 30rem;
  }

  /* form desktop */
  .input-wrapper {
    width: 25rem;
  }
  .input-wrapper input {
    width: 100%;
  }
  form {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }
  form button {
    margin-top: 0;
    width: 15rem;
  }

  /* footer desktop */
  footer {
    background-color: hsl(229, 31%, 21%);
  }
  .footer-top {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 60rem;
  }
  .footer-menu-container ul {
    flex-direction: row;
  }
  .footer-menu-container {
    margin-right: auto;
  }
}
